page-home {
 
    .background-image {
        background-image: url(https://www.lyfx.co/adventures-on-demand.33559922c307052a65a1.jpg);
        background-size: cover;
        background-position: center;
        height: 50vw;
        z-index: -9999;
    }
 
    .main-content {
        padding: 20px;
        background-color: #ddd;
        position: absolute;
    }
 
 
}